.main-ul{
    display: flex;
    list-style: none;
}
.innter-ul{
    margin-left: 80px;
    list-style: none;
}
.innter-ul1{
    margin-left: 110px;
    list-style: none;
}
.header{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
    font-size: 20px;
    color: rgb(0, 0, 85);
}
.inner-li{
    font-size: 13px;
    color: rgb(0, 0, 85);
    margin-bottom: 3px;
}
.inner-li:hover{
    text-decoration: underline;

}
.Last-ul{
    list-style: none;
    display: flex;
    margin-left: 80px;
    background-color: white;
    padding-top: 20px;

}
.footer-div{
    background-color: white;
}
.Last-li{
    background-color: white;
    margin-right: 400px;
    font-size: 18px;
    color: rgb(41, 41, 41);
}
.Last-li1{
    background-color: white;
    color: rgb(41, 41, 41);
}
.liii{
    background-color: white;
    align-items: center;
    margin-left: 80px;
    list-style: none;
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 480px;

}
.liii:hover{
    text-decoration: underline;
}
.flag{
    background-color: white;
    height: 30px;
    margin-right: 10px;
}
.icons{
    display: flex;
    list-style: none;
    background-color: white;
    margin-left: 60px;
    margin-top: 10px;
}
.fb{
    font-size: 27px;
    color: rgb(1, 1, 94);
    background-color: white;
}
.insta{
    font-size: 27px;
    color: rgb(206, 11, 11);
    margin-left: 20px;
    background-color: white;
}
.tw{
    font-size: 27px;
    color: skyblue;
    margin-left: 20px;
    background-color: white;
}
.in{
    font-size: 27px;
    color: red;
    margin-left: 20px;
    background-color: white;
}